#color1{
     background-color: rgba(51,0,111,.9);
}
#color2{
     background-color: rgba(51,0,111,.8);
}
#color3{
     background-color: rgba(51,0,111,.7);
}
#color4{
     background-color: rgba(51,0,111,.6);
}
#color5{
     background-color: rgba(51,0,111,.5);
}
#color6{
     background-color: rgba(51,0,111,.4);
}
#color7{
     background-color: rgba(51,0,111,.3);
}
#color8{
     background-color: rgba(51,0,111,.2);
}
#color9{
     background-color: rgba(51,0,111,.1);
}

#color01{
     background-color: hsla(268,100%,22%,.9);
}
#color02{
     background-color: hsla(268,100%,22%,.8);
}
#color03{
     background-color: hsla(268,100%,22%,.7);
}
#color04{
     background-color: hsla(268,100%,22%,.6);
}
#color05{
     background-color: hsla(268,100%,22%,.5);
}
#color06{
     background-color: hsla(268,100%,22%,.4);
}
#color07{
     background-color: hsla(268,100%,22%,.3);
}
#color08{
     background-color: hsla(268,100%,22%,.2);
}
#color09{
     background-color: hsla(268,100%,22%,.1);
}
td{
    padding: 10px;    
}